<div class="container">
    <div class="text-center">
        <h1 class="header-top center">Jay Shaffer</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= image_tag 'my_stupid_face2.jpg', class: 'small-img' %>
        </div>
        <div class="col-md-3">
            <br/>
            <br/>
            Jay used to <a href="<%=image_url('nixie_clock.jpg')%>">make</a> <a href="<%=image_url('led_clock.jpg')%>"> stuff</a>.
            <br/>
            <br/>
            Now he makes vanity websites for himself.
            <br/>
            <br/>
            <a href="https://www.linkedin.com/in/jameson-shaffer-b4034633">Linkedin</a>
            <br/>
            <a href="https://github.com/jayshaffer">Github</a>
        </div>
    </div>
</div>
